# Data Science Tools and Ecosystem #

### In this notebook, Data Science Tools and Ecosystem are summarized. ###

***Objectives:***

- Data Science Programming Languages
- Libraries used by Data Scientists
- Data science tools
- Evaluating arithmetic expressions

#### Some of the popular languages that Data Scientists use are: ####
    
1. Python
2. R
3. SQL
4. Java

#### Some of the commonly used libraries used by Data Scientists include: ####

1. Matplotlib
2. Seaborn
3. Pandas
4. Scikit-learn
5. TensorFlow

|Data Science Tools|
| ---------------- |
| Jupiter |
| Visual Studio Code |
| Google Colab |
| Git |

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [5]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [8]:
m = 200
h = m*(1/60) #This will convert 200 minutes to hours by diving by 60
print(h)

3.3333333333333335

## Author ##

Andr√©s Felipe Ortiz Zapata